@font-face {
    font-family: 'EikoItalic';
    src: url('eikoitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('neuemontreal.ttf') format('truetype');
}


