@font-face {
    font-family: 'EikoItalic';
    src: url('PPEikoItalic-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('PPNeueMontreal-Variable.woff2') format('woff2');
}


