@font-face {
    font-family: 'EikoItalic';
    src: url('PPEikoItalic-Variable.ttf') format('truetype');
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontrealVariable';
    src: url('PPNeueMontreal-Regular.woff2') format('woff2'); /* Plik dla normal */
    font-weight: 450; /* Ustalona waga dla normal */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontrealVariable';
    src: url('PPNeueMontreal-Semibold.woff2') format('woff2'); /* Plik dla semibold */
    font-weight: 700; /* Ustalona waga dla semibold */
    font-style: normal;
    font-display: swap;
}



